[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[dev-packages] 
pytest = "*"
pytest-qt = "*"
pytest-mock = "*"
mock = "*"
pylint = "*"
coverage = "*"
pytest-cov = "*"
pytest-mypy = "*"
pytest-flake8 = "*"
isort = "*"

[packages]
pygelf = "*"
opencv-python = "*"
pyperclip = "*"
scipy = "*"
pyqt5 = "*"
numpy = "*"


[scripts]
tests_dls_util = "python -m pytest --cov dls_util tests/unit_tests"
tests_dls_barcode = "pytest  --cov-config=.coveragerc --cov dls_barcode tests/unit_tests"
